.banner {
  margin-top: 163px;
}

.pcx {
  margin-top: 163px;
  padding-top: 145px;
  margin-bottom: 145px;
}

.pcx .container {
  flex-direction: column;
}

.pcx .container .title {
  max-width: 100%;
}