.depo {
  margin-bottom: 100px;
}

.head-depo {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}

.depo ul {
  display: flex;
}

.depo ul li {
  background: var(--base);
  width: 440px;
  margin-right: 100px;
  padding: 40px 60px;
  box-shadow: 0px 8px 20px rgba(33, 35, 62, 0.6);
  border-radius: 30px;
}

.slide-wrapper {
  overflow: hidden;
  padding: 145px 0px 45px 0px;
}

.slide {
  display: flex;
}

.slide:hover {
  will-change: transform;
}

.slide li {
  flex-shrink: 0;
  width: 80vw;
  max-width: 800px;
  margin: 0 20px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  opacity: 0.8;
  transform: scale(0.8);
  transition: 0.4s;
}

.slide img {
  display: block;
  max-width: 100%;
}

.slide li.active {
  opacity: 1;
  transform: scale(1);
}

.head-depo div {
  margin-left: 10px;
}

.head-depo div h4 {
  font-size: 1.125em;
  font-weight: 700;
  color: var(--primary);
}

.head-depo div p {
  font-size: 0.75em;
  font-weight: 700;
  color: var(--primaryLight);
  margin: 5px 0px 1px 0px;
}

.head-depo div span {
  color: var(--primaryLight);
  font-size: 0.75em;
  font-weight: 400;
}

@media (max-width: 500px) {
  .depo ul li {
    width: 100%;
  }
  .depo ul {
    margin: 0px 20px;
  }
}

@media (max-width: 390px) {
  .depo ul li {
    width: 100%;
    padding: 20px;
  }
  .depo ul {
    margin: 0px 20px;
  }
}
