.text-insta {
  width: 50%;
  margin-right: 100px;
}

.slide-insta {
  width: 50%;
}

.slide-insta {
  background: var(--base);
  padding: 60px;
  border-radius: 40px;
  box-shadow: 0px 8px 20px rgba(33, 35, 62, 0.6);
  display: flex;
  align-items: center;
}

.slide-insta li p {
  font-size: 0.75em;
  font-weight: 400;
  line-height: 1.3em;
  color: var(--primary);
  margin-top: 20px;
}

.next,
.prev {
  border: none;
  cursor: pointer;
  background: none;
  font-size: 1.5em;
  color: var(--primaryLight);
  padding: 10px;
}

.prev {
  margin-right: 5px;
}

.next {
  margin-left: 5px;
}

.instagram-home {
  margin-bottom: 145px;
}

.loading {
  color: var(--primary) !important;
  font-weight: 700 !important;
  font-size: 1em !important;
  display: block;
}

.loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4, end) 400ms infinite;
  animation: ellipsis steps(4, end) 400ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 1rem;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1rem;
  }
}

@media (max-width: 900px) {
  .instagram-home {
    flex-direction: column;
  }

  .slide-insta {
    width: 100%;
    margin-top: 40px;
  }

  .text-insta {
    width: 100%;
  }
}

@media (max-width: 450px) {
  .slide-insta {
    padding: 20px;
  }
}

@media (max-width: 350px) {
  .prev,
  .next {
    padding: 5px;
  }
  .slide-insta {
    padding: 10px;
  }
  .slide-insta li a img {
    width: 200px;
  }
}

@media (max-width: 290px) {
  .slide-insta li p {
    font-size: 0.5em;
  }
}

@media (max-width: 260px) {
  .slide-insta li p {
    display: none;
  }
}
